@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
// meetup.com color : #f41940

.gMkfmzcfx2 {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.navbar {
  background-color: #f41940;
}
